
<ul class="nav nav-pills">
    <li role="presentation">@Html.ActionLink(AppString.AdminMenuGeneral, "General", "Admin")</li>
    <li role="presentation">@Html.ActionLink(AppString.AdministerUsers, "Users", "Admin")</li>
    <li role="presentation">@Html.ActionLink(AppString.AdministerProjects, "Projects", "Admin")</li>
    <li role="presentation">@Html.ActionLink(AppString.AdministerCars, "Cars", "Admin")</li>
</ul>